* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  /* top, bottom - left, right  */
  margin: 0 auto;
}

.header {
  background-color: #0f172a;
  color: #e2e8f0;
  padding: 30px 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.content__title {
  color: #22c55e;
}

.content__navbar {
  display: flex;
}

.content__navbar li {
  margin: 0 15px;
}

.content__navbar li a {
  color: #e2e8f0;
  font-weight: bold;
}

.card {
  background-color: #fff;
  padding: 20px;
  /* width: 400px; */
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  transition:transform 0.3s;

}

.card:hover{
  transform: translateY(-15px);
}

/* TARJETA */
.card__title{
margin-bottom: 20PX;
}

.card__description{
  margin-bottom: 40px;
}

.card__link{
  background-color:#22c55e ;
  color:#fff;
  width: 100%;
  display:inline-block;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.card__header--strong{
  text-transform: uppercase;
  font-weight: bold;
}

.card__header {
  position: relative;
}

.card__header img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card__header small {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
  padding: 8px;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 10px;
}

/* CURSOS */
.courses {
  margin-top: 40px;
}

.courses__title {
  margin-bottom: 20px;
  text-align: center;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  /* row-gap: espaciar verticalmente */
  /* column-gap: horizontalmente */
}

/* MOBILE LAST */

@media (max-width: 1000px) {
  .courses__grid {
     grid-template-columns: repeat(2, 1fr);
   } 
 }
 

 @media (max-width: 400px) {
   .courses__grid {
     grid-template-columns: 1fr;
   } 
   .content__navbar {
     display: none;
   }

 }